<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <!-- <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
          <li><i class="fa fa-bars"></i>Pages</li>
          <li><i class="fa fa-square-o"></i>Pages</li>
        </ol> -->
      </div>
    </div>
    <!-- page start-->
    <h1>
      <span> Welcome {{UserName}} </span> <br>
      <span> Total Income From the Page : {{totalIncome}} </span> <br>
      <span> Previous Months Total Income : {{previousMonthIncome}} </span> <br>
      <span> Current Months Total Income : {{currentMonthIncome}} </span>
    </h1>
    <!-- page end-->
  </section>
</section>
