<header class="header dark-bg">
  <!-- <div class="toggle-nav">
    <div
      class="icon-reorder tooltips"
      data-original-title="Toggle Navigation"
      data-placement="bottom"
    >
      <i class="icon_menu"></i>
    </div>
  </div> -->

  <!--logo start-->
  <a href="index.html" class="logo">ANTS <span class="lite">Admin</span></a>
  <div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <!-- <ul class="nav pull-right top-menu"> -->
      <a href="#!logout" class="logo" style="padding-top:10px; margin:0;">Logout</a>

      <!-- user login dropdown start-->
    <!-- </ul> -->
    <!-- notificatoin dropdown end-->
  </div>
</header>
<!--header end-->
