
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <div class="sidebar-head">
      <h3><span class="fa-fw open-close" style="padding: 70px 0 0"><i class="ti-close ti-menu"></i></span>ANTS Tourism</h3>
  </div>
    <ul class="nav" id="side-menu">
      <li style="padding: 120px 0 0">
        <a href="#!customer/dashboard" class="waves-effect"><i class="fa fa-home fa-fw" aria-hidden="true">Dashboard</i></a>
      </li>
      <li style="padding: 20px 0 0">
        <a href="#!/customer/Profile" class="waves-effect"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>Profile</a>
      </li>
      <li style="padding: 20px 0 0">
        <a href="#!customer/showOrder" class="waves-effect"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Orders</a>
      </li>
      <li style="padding: 20px 0 0">
        <a href="#!customer/showBlogs" class="waves-effect"><i class="fa fa-rss fa-fw" aria-hidden="true"></i>Blogs</a>
      </li>
      <li style="padding: 20px 0 0">
        <a href="#!customer/AddBlog" class="waves-effect"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Blog</a>
      </li>
      <li style="padding: 20px 0 0">
        <a href="#!customer/showNotices" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Notices</a>
      </li>
      <li style="padding: 20px 0 0">
        <a href="#!logout" class="waves-effect"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>