<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar"
    style="background-image: linear-gradient(to right,rgb(5, 75, 54),rgb(20, 20, 119)); padding-bottom: 25px;">
    <div class="sidebar-head" style="background-color: goldenrod; padding-bottom: 10px;">
      <h3>
        <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
        <span class="hide-menu" style="color: beige;">ANTS TOURISM</span>
      </h3>
    </div>
    <ul class="nav" id="side-menu">
      <li style="padding: 80px 0 0">
        <a href="#!seller/addpackage" class="waves-effect" style="font-size:20px ; color: white;"><i
            class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add
          Package</a>
      </li>
      <li style="padding: 60px 0 0">
        <a href="#!seller/showpackages" class="waves-effect" style="font-size:20px ; color: white;"><i
            class="fa fa-server" aria-hidden="true"></i> Show
          Packages</a>
      </li>
      <li style="padding: 60px 0 0">
        <a href="#!seller/showorder" class="waves-effect" style="font-size:20px ; color: white;"><i
            class="fa fa-paper-plane" aria-hidden="true"></i> Show
          Orders</a>
      </li>
      <li style="padding: 60px 0 0">
        <a href="#!seller/myprofile" class="waves-effect" style="font-size:20px ; color: white;"><i
            class="fa fa-user-circle" aria-hidden="true"></i> My
          Profile</a>
      </li>
      <li style="padding: 60px 0 0">
        <a href="#!seller/dashboard" class="waves-effect" style="font-size:20px ; color: white;"><i
            class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
      </li>
      <li style="padding: 60px 0 0">
        <a href="#!logout" class="waves-effect" style="font-size:20px ; color: white;"><i class="fa fa-window-close"
            aria-hidden="true"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>